<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
	<vs-sidebar
		click-not-close
		position-right
		parent="body"
		default-index="1"
		color="primary"
		class="add-new-data-sidebar items-no-padding"
		spacer
		v-model="isSidebarActiveLocal"
	>
		<div class="mt-6 flex items-center justify-between px-6">
			<h4>
				{{ Object.entries(this.data).length === 0 ? "ADD NEW" : "UPDATE" }} ITEM
			</h4>
			<feather-icon
				icon="XIcon"
				@click.stop="isSidebarActiveLocal = false"
				class="cursor-pointer"
			></feather-icon>
		</div>
		<vs-divider class="mb-0"></vs-divider>

		<component
			:is="scrollbarTag"
			class="scroll-area--data-list-add-new"
			:settings="settings"
			:key="$vs.rtl"
		>
			<div class="p-6">
				<!-- Product Image -->
				<template v-if="dataImg">
					<!-- Image Container -->
					<div
						class="img-container w-64 mx-auto flex items-center justify-center"
					>
						<img :src="dataImg" alt="img" class="responsive" />
					</div>

					<!-- Image upload Buttons -->
					<div class="modify-img flex justify-between mt-5">
						<input
							type="file"
							class="hidden"
							ref="updateImgInput"
							@change="updateCurrImg"
							accept="image/*"
						/>
						<vs-button
							class="mr-4"
							type="flat"
							@click="$refs.updateImgInput.click()"
							>Update Image</vs-button
						>
						<vs-button type="flat" color="#999" @click="dataImg = null"
							>Remove Image</vs-button
						>
					</div>
				</template>

				<!-- nofaktur -->
				<vs-input
					label="no faktur | order status"
					v-model="nofaktur"
					class="mt-5 w-full"
					name="item-nofaktur"
					v-validate="'required'"
					:disabled="disableInput"
				/>
				<span
					class="text-danger text-sm"
					v-show="errors.has('item-nofaktur')"
					>{{ errors.first("item-nofaktur") }}</span
				>

				<!-- ORDER STATUS -->
				<vs-select
					v-model="kodebrg"
					label="0x009"
					class="mt-5 w-full"
					name="item-kodebrg"
					v-validate="'required'"
					:disabled="disableInput"
				>
					<vs-select-item
						:key="item.id"
						:value="item.kodebrg"
						:text="item.kodebrg + ' - ' + item.nama"
						v-for="item in listProducts"
					/>
				</vs-select>
				<span class="text-danger text-sm" v-show="errors.has('item-kodebrg')">{{
					errors.first("item-kodebrg")
				}}</span>

				<!-- QTY -->
				<vs-input
					icon-pack="feather"
					icon="icon-dollar-sign"
					label="Quantity"
					v-model="qty"
					class="mt-5 w-full"
					v-validate="{ required: true, regex: /\d+(\.\d+)?$/ }"
					name="item-qty"
				/>
				<span class="text-danger text-sm" v-show="errors.has('item-qty')">{{
					errors.first("item-qty")
				}}</span>

				<!-- Upload -->
				<!-- <vs-upload text="Upload Image" class="img-upload" ref="fileUpload" /> -->

				<div class="upload-img mt-5" v-if="!dataImg">
					<input
						type="file"
						class="hidden"
						ref="uploadImgInput"
						@change="updateCurrImg"
						accept="image/*"
					/>
					<vs-button @click="$refs.uploadImgInput.click()"
						>Upload Image</vs-button
					>
				</div>
			</div>
		</component>

		<div class="flex flex-wrap items-center p-6" slot="footer">
			<vs-button class="mr-6" @click="submitData" :disabled="!isFormValid"
				>Submit</vs-button
			>
			<vs-button
				type="border"
				color="danger"
				@click="isSidebarActiveLocal = false"
				>Cancel</vs-button
			>
		</div>
	</vs-sidebar>
</template>

<script>
	import VuePerfectScrollbar from "vue-perfect-scrollbar";

	export default {
		props: {
			isSidebarActive: {
				type: Boolean,
				required: true,
			},
			data: {
				type: Object,
				default: () => {},
			},
		},
		components: {
			VuePerfectScrollbar,
		},
		data() {
			return {
				id: null,
				nofaktur: null,
				kodebrg: null,
				qty: null,

				shParameter: [],
				upParameter: [],
				inParameter: [],

				dataImg: null,

				disableInput: true,
				settings: {
					// perfectscrollbar settings
					maxScrollbarLength: 60,
					wheelSpeed: 0.6,
				},
			};
		},
		watch: {
			isSidebarActive(val) {
				if (!val) return;
				if (Object.entries(this.data).length === 0) {
					this.disableInput = false;
					this.initValues();
					this.$validator.reset();
				} else {
					this.disableInput = true;
					const { id, nofaktur, kodebrg, qty, dataImg } = JSON.parse(
						JSON.stringify(this.data)
					);
					this.id = id;
					this.nofaktur = nofaktur;
					this.kodebrg = kodebrg;
					this.qty = qty;
					this.dataImg = dataImg;
					this.initValues();
				}
				// Object.entries(this.data).length === 0
				// 	? this.initValues()
				// 	: ({ id: this.id } = JSON.parse(JSON.stringify(this.data)));
			},
		},
		computed: {
			isSidebarActiveLocal: {
				get() {
					return this.isSidebarActive;
				},
				set(val) {
					if (!val) {
						this.$emit("closeSidebar");
						// this.$validator.reset()
						// this.initValues()
					}
				},
			},
			isFormValid() {
				return (
					!this.errors.any() && this.nofaktur && this.kodebrg && this.qty > 0
				);
			},
			scrollbarTag() {
				return this.$store.getters.scrollbarTag;
			},
			listProducts() {
				return this.$store.state.dataList.listProducts;
			},
		},
		methods: {
			initValues() {
				if (this.data.id) return;
				this.id = null;
				this.dataImg = null;
				this.kodebrg = null;
				this.qty = null;
				this.nofaktur = null;
				this.dataImg = null;
			},
			submitData() {
				this.$validator.validateAll().then((result) => {
					if (result) {
						const obj = {
							id: this.id,
							nofaktur: this.nofaktur,
							kodebrg: this.kodebrg,
							qty: this.qty,
							dataImg: this.dataImg,
						};

						if (this.id !== null) {
							let uri = this.$store.state.update_brg_masuk;
							this.upParameter.push({ uri: uri, item: obj });

							this.$store
								.dispatch("dataList/updateItem", this.upParameter)
								.catch((err) => {
									console.error(err);
								});
							this.upParameter = [];
						} else {
							let uri = this.$store.state.input_brg_masuk;
							this.inParameter.push({ uri: uri, item: obj });

							this.$store
								.dispatch("dataList/addItem", this.inParameter)
								.catch((err) => {
									console.error(err);
								});
							this.inParameter = [];
						}

						this.$emit("closeSidebar");
						this.initValues();
					}
				});
			},
			updateCurrImg(input) {
				if (input.target.files && input.target.files[0]) {
					const reader = new FileReader();
					reader.onload = (e) => {
						this.dataImg = e.target.result;
					};
					reader.readAsDataURL(input.target.files[0]);
				}
			},
		},
		created() {
			let uri = this.$store.state.sh_barang;
			this.shParameter.push({ uri: uri, id: "" });

			this.$store
				.dispatch("dataList/fetchDataListItemsKodeBarang", this.shParameter)
				.catch((err) => {
					console.error(err);
				});
			this.shParameter = [];
		},
	};
</script>

<style lang="scss" scoped>
	.add-new-data-sidebar {
		::v-deep .vs-sidebar--background {
			z-index: 52010;
		}

		::v-deep .vs-sidebar {
			z-index: 52010;
			width: 400px;
			max-width: 90vw;

			.img-upload {
				margin-top: 2rem;

				.con-img-upload {
					padding: 0;
				}

				.con-input-upload {
					width: 100%;
					margin: 0;
				}
			}
		}
	}

	.scroll-area--data-list-add-new {
		// height: calc(var(--vh, 1vh) * 100 - 4.3rem);
		height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);

		&:not(.ps) {
			overflow-y: auto;
		}
	}
</style>
